* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  all: none;
  padding: 1rem;
  background-color: orange;
  margin-top: 2rem;
  border-radius: 25px;
  cursor: pointer;
}

.display {
  height: 100vh;
  color: rgb(210, 228, 233);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.display img {
  width: 100%;
  max-height: 500px;
}

.display ul {
  list-style: none;
}

.display ul li {
  padding: 0.5rem;
}
